USE [YellowBrick]
GO
/****** Object:  StoredProcedure [dbo].[ClientInsurance_Batch_Update]    Script Date: 8/13/2023 9:01:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:			Sean Humphreys
-- Create date:		08/03/2023
-- Description:		Batch Update into dbo.ClientInsurance with a UDT
-- Code Reviewer:	

-- MODIFIED BY: 
-- MODIFIED DATE:
-- Code Reviewer:
-- Note:

CREATE PROC [dbo].[ClientInsurance_Batch_Update]

AS

BEGIN

	SELECT 1

END
GO
